<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ===== ICONOS ===== -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- ===== ESTILOS CSS ===== -->
    <link rel="stylesheet" href="./assets/css/styles.css" />
    <title>Inicio</title>
  </head>

  <body>
    <!-- ===== HEADER ===== -->
    <header class="header">
      <!-- LOGO -->
      <div class="header__logo">
        <h1><a href="#">Logo</a></h1>
      </div>

      <nav class="navbar">
        <!-- MENÚ -->
        <div class="nav__content">
          <div class="nav__menu">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="#" class="nav__link">¿Quienes Somos?</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">Red Nacional de Observatorios</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">Plataforma de Datos</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">Incidencia</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">Publicaciones</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">En Medios</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">Contacto</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">Atención a víctimas</a>
              </li>
              <li class="nav__item">
                <button class="btn-reset btn-search">
                  <i class="bx bx-search-alt-2"></i>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="header__toggle">
        <i class="bx bx-menu" id="header-toggle"></i>
      </div>
    </header>

    <main class="index">
      <section class="home">
        <div class="content-slide slide-active mx-w">
          <div class="left">
            <h1>Slide 1: lorem ipsum dolor sit amet</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis,
              veritatis et quasi ipsum quia repellendus dolorem provident,
              labore totam libero consequatur? Vero aut illum tempora,
              voluptatibus commodi perferendis quidem sit! lorem ipsum dolor,
              sit amet consectetur adipisicing elit. Quod, eveniet tempore
              nesciunt facilis inventore beatae quam fugit ducimus, voluptatibus
              enim aliquid necessitatibus officia perferendis dolor nulla
              adipisci corporis ad obcaecati?
            </p>

            <a href="#">lorem ipsum</a>
          </div>
          <div class="right">
            <div class="overlay">
              <div class="date"><span>01</span><span>-07</span></div>
            </div>
            <div class="thumbnail">
              <img src="./assets/src/img.jpg" alt="" width="100px" />
            </div>
          </div>
        </div>

        <div class="content-slide mx-w">
          <div class="left">
            <h1>Slide 2: lorem ipsum dolor sit amet</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis,
              veritatis et quasi ipsum quia repellendus dolorem provident,
              labore totam libero consequatur? Vero aut illum tempora,
              voluptatibus commodi perferendis quidem sit! lorem ipsum dolor,
              sit amet consectetur adipisicing elit. Quod, eveniet tempore
              nesciunt facilis inventore beatae quam fugit ducimus, voluptatibus
              enim aliquid necessitatibus officia perferendis dolor nulla
              adipisci corporis ad obcaecati?
            </p>

            <a href="#">lorem ipsum</a>
          </div>
          <div class="right">
            <div class="overlay">
              <div class="date"><span>02</span><span>-07</span></div>
            </div>
            <div class="thumbnail">
              <img src="./assets/src/wallpaper.jpg" alt="" width="100px" />
            </div>
          </div>
        </div>

        <div class="content-slide mx-w">
          <div class="left">
            <h1>Slide 3: lorem ipsum dolor sit amet</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis,
              veritatis et quasi ipsum quia repellendus dolorem provident,
              labore totam libero consequatur? Vero aut illum tempora,
              voluptatibus commodi perferendis quidem sit! lorem ipsum dolor,
              sit amet consectetur adipisicing elit. Quod, eveniet tempore
              nesciunt facilis inventore beatae quam fugit ducimus, voluptatibus
              enim aliquid necessitatibus officia perferendis dolor nulla
              adipisci corporis ad obcaecati?
            </p>

            <a href="#">lorem ipsum</a>
          </div>
          <div class="right">
            <div class="overlay">
              <div class="date"><span>03</span><span>-07</span></div>
            </div>
            <div class="thumbnail">
              <img src="./assets/src/img.jpg" alt="" width="100px" />
            </div>
          </div>
        </div>

        <div class="slider-navigation">
          <div class="options">
            <div class="nav-btn active"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
          </div>
        </div>
      </section>

      <section class="home2 mx-w">
        <div class="wrapper">
          <div class="left">
            <div class="container__img">
              <img src="./assets/src/img.jpg" alt="" height="300px" />
            </div>
          </div>
          <div class="right">
            <h2>lorem ipsum dolor</h2>
            <p class="paragraph">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima
              ut enim, non est magni beatae dolore nulla quia officia ex
              laboriosam sit aut, ea delectus cumque. Harum quaerat quam
              voluptates.
            </p>
            <p class="link-center"><a href="#">lorem ipsum</a></p>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="content mx-w">
        <div class="link-boxes">
          <div class="contact__info">
            <div class="footer__logo">
              <h1><a href="#">Logo</a></h1>
            </div>

            <div class="footer__info">
              <div class="item">
                <div><i class="bx bx-map"></i></div>
                <div>
                  <p>
                    Av. Dr. Burton E. Grossman 501 Pte-SECTOR 1, Tampico
                    Altamira, 89605 Miramar, Tamps
                  </p>
                </div>
              </div>

              <div class="item">
                <div><i class="bx bx-phone"></i></div>
                <div>
                  <p>+52 833 259 9772</p>
                </div>
              </div>

              <div class="item">
                <div><i class="bx bx-envelope"></i></div>
                <div>
                  <p>aurelio.marin@iest.edu.mx</p>
                </div>
              </div>
            </div>
          </div>

          <ul class="box">
            <li class="link__name">Sección 1</li>
            <li><a href="">Editar 1</a></li>
            <li><a href="">Editar 2</a></li>
            <li><a href="">Editar 3</a></li>
            <li><a href="">Editar 4</a></li>
            <li><a href="">Editar 5</a></li>
          </ul>

          <ul class="box">
            <li class="link__name">Sección 2</li>
            <li><a href="">Editar 1</a></li>
            <li><a href="">Editar 2</a></li>
            <li><a href="">Editar 3</a></li>
            <li><a href="">Editar 4</a></li>
            <li><a href="">Editar 5</a></li>
          </ul>

          <ul class="box">
            <li class="link__name">Sección 3</li>
            <li><a href="">Editar 1</a></li>
            <li><a href="">Editar 2</a></li>
            <li><a href="">Editar 3</a></li>
            <li><a href="">Editar 4</a></li>
            <li><a href="">Editar 5</a></li>
          </ul>

          <ul class="box">
            <li class="link__name">Social</li>
            <li>
              <a href=""><i class="bx bxl-facebook"></i> Facebook</a>
            </li>
            <li>
              <a href=""><i class="bx bxl-twitter"></i> Twitter</a>
            </li>
            <li>
              <a href=""><i class="bx bxl-instagram"></i> Instagram</a>
            </li>
            <li>
              <a href=""><i class="bx bxl-youtube"></i> YouTube</a>
            </li>
            <li>
              <a href=""><i class="bx bxl-tiktok"></i> TikTok</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="bottom-details">
        <div class="bottom_text">
          <span class="copyright_text">
            Copyright &copy; 2022 -
            <a href="#">Observatorio Nacional Ciudadano</a>
          </span>
        </div>
      </div>
    </footer>

    <!-- ===== JQUERY ===== -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- ===== SCRIPTS ===== --->
    <script src="./assets/js/home-slider.js"></script>
  </body>
</html>
