:root {
    --gap-grid: 2em;
}

section.list-content {
    padding: 60px 0;
}

section.list-content .wrapper {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 2fr 1fr;
    gap: var(--gap-grid);
}

section.list-content .wrapper .right {
    background: var(--dark);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 25px;
    height: min-content;
}

section.list-content .wrapper .right .left-section {
    padding-bottom: 2em;
    width: 100%;
}

section.list-content .wrapper .right .left-section:nth-last-of-type(1) {
    padding-bottom: 0;
}


section.list-content .wrapper .right .left-section h3.left-title span {
    color: var(--primary);
}

section.list-content .wrapper .right .left-section h3.left-title::before {
    position: absolute;
    content: "";
    height: 5px;
    width: 100px;
    bottom: 0;
    background: var(--primary);
}

section.list-content .wrapper .right .search form {
    width: 100%;
    display: flex;
    align-items: center;
}

section.list-content .wrapper .right .search button {
    width: 45px;
    height: 45px;
    background: var(--primary);
    color: var(--dark);
    font-size: 18px;
}

section.list-content .wrapper .right .search button:hover {
    opacity: .9;
}

section.list-content .wrapper .right .search input {
    height: 45px;
    width: calc(100% - 45px);
    background: rgb(240, 240, 240);
    padding: 0 1em;
    font-weight: 500;
    color: var(--dark);
}

section.list-content .wrapper .right .categorias .buttons-wrapper,
section.list-content .wrapper .right .filtros .buttons-wrapper {
    display: flex;
    gap: .75em;
    flex-wrap: wrap;
}

section.list-content .wrapper .right .categorias button,
section.list-content .wrapper .right .filtros button {
    background: rgb(219, 219, 219, .3);
    text-transform: uppercase;
    padding: .5em;
    color: #fff;
    font-weight: 700;
}

section.list-content .wrapper .right .categorias button:hover,
section.list-content .wrapper .right .filtros button:hover {
    background: var(--primary);
    color: var(--dark);
}

section.list-content .wrapper .right .left-section h3.left-title {
    color: #fff;
    font-size: 24px;
    line-height: 130%;
    font-weight: 700;
    text-transform: uppercase;

    position: relative;
    padding-bottom: .5em;
    margin-bottom: .75em;
}

section.list-content .wrapper .right .recientes .news-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25em;
}

section.list-content .wrapper .right .recientes .news-wrapper a.new-item {
    display: grid;
    grid-template-columns: 2fr 10fr;
    gap: .75em;
    color: #fff;
}

section.list-content .wrapper .right .recientes .news-wrapper a.new-item .thumbnail {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 10px;
}

section.list-content .wrapper .right .recientes .news-wrapper a.new-item .thumbnail img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

section.list-content .wrapper .right .recientes .news-wrapper a.new-item .description {
    position: relative;
}

section.list-content .wrapper .right .recientes .news-wrapper a.new-item h3 {
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

section.list-content .wrapper .right .recientes .news-wrapper a.new-item:hover h3 {
    color: var(--primary);
}

section.list-content .wrapper .right .recientes .news-wrapper a.new-item span {
    position: absolute;
    bottom: 0;
    opacity: .7;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

section.list-content .wrapper .list-content-type-1 {
    display: grid;
    height: min-content;
    grid-auto-rows: min-content;
    gap: var(--gap-grid);
}

section.list-content .wrapper .list-content-type-1 .item {
    /* padding: 25px; */
    background: #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    color: var(--dark);

    display: grid;
    grid-template-columns: 2fr 6fr;
    align-items: center;

    position: relative;
    height: auto;
    min-height: 230px;
}

section.list-content .wrapper .list-content-type-1 .item .cont-img {
    width: 250px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

section.list-content .wrapper .list-content-type-1 .item .cont-img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

section.list-content .wrapper .list-content-type-1 .item .cont-img .overlay {
    background: var(--dark);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .2;
}

section.list-content .wrapper .list-content-type-1 .item .content {
    padding: 25px;
}

section.list-content .wrapper .list-content-type-1 .item .content h3 {
    font-size: 28px;
    line-height: 150%;
    color: var(--primary);
    text-transform: uppercase;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

section.list-content .wrapper .list-content-type-1 .item .content p {
    font-size: 0.9em;
    padding-top: 1em;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    opacity: .8;
}

section.list-content .wrapper .list-content-type-1 .item .content .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5em;
}

section.list-content .wrapper .list-content-type-1 .item .content .btn {
    padding: 10px 20px;
    margin-right: 10px;
    background: var(--primary);
    text-transform: uppercase;
    color: var(--dark);
    font-weight: 600;
}

section.list-content .wrapper .list-content-type-1 .item .content .btn:hover {
    background: var(--dark);
    color: #fff;
}

section.list-content .wrapper .list-content-type-1 .item .content span.date {
    font-weight: 600;
    color: var(--dark);
    font-size: .9em;
    line-height: 0;
    opacity: .5;
}


section.list-content .pagination {
    padding: var(--gap-grid) 0;
    display: flex;
    gap: 12px;
}

section.list-content .pagination button {
    padding: 8px 15px;
    outline: 3px solid var(--dark);
    font-family: var(--Font-Poppins);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

section.list-content .pagination button i {
    font-size: 20px;
}

section.list-content .pagination button:hover {
    /* outline: 3px solid var(--primary); */
    background: var(--primary);
    color: var(--dark);
}

@media screen and (max-width: 1200px) {
    :root {
        --gap-grid: 1.5em;
    }

    section.list-content {
        padding: 2em;
    }

    section.list-content .wrapper .list-content-type-1 {
        display: grid;
        grid-auto-rows: min-content;
        grid-template-columns: repeat(2, 1fr);
    }

    section.list-content .wrapper .list-content-type-1 .item {
        display: block;
    }

    section.list-content .wrapper .list-content-type-1 .item .cont-img {
        height: 200px;
        width: 100%;
    }

    section.list-content .wrapper .list-content-type-1 .item .content {
        padding: 22px;
    }

    section.list-content .wrapper .list-content-type-1 .item .content h3 {
        font-size: 18px;
        -webkit-line-clamp: 3;
        /* color: var(--dark); */
    }

    section.list-content .wrapper .list-content-type-1 .item .content p {
        font-size: .85em;
    }

    section.list-content .wrapper .list-content-type-1 .item .content .btn {
        font-size: 14px;
        padding: 8px;
        margin-right: 5px;
    }

    section.list-content .wrapper .list-content-type-1 .item .content span.date {
        font-size: .7em;
        line-height: 130%;

        position: absolute;
        right: 22px;
        top: 22px;
        background: var(--dark);
        color: #fff;
        padding: 5px 8px;
        border-radius: 500px;
        font-weight: 600;
        opacity: 1;
    }
}

@media screen and (max-width: 900px) {
    section.list-content .wrapper {
        grid-template-columns: 1fr;
    }

    section.list-content .wrapper .right {
        order: 1;
    }

    section.list-content .wrapper .left {
        order: 2;
    }
}

@media screen and (max-width: 700px) {
    :root {
        --gap-grid: 1em;
    }

    section.list-content {
        padding: 1em;
    }

    section.list-content .wrapper .list-content-type-1 {
        grid-template-columns: 1fr
    }
}